body {
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.logo img {
    width: 8%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

.inicio {
    display: flex;
    flex-direction: row-reverse;
}

.destaque {
    height: 520px;
    text-align: center;
    display: block;
    padding: 20px 20px;
    margin: 20px;
    background-color: #444;
    border-radius: 10px;
}

.destaque img {
    padding-top: 20px;
    width: 75%;
    border-radius: 10px;
}

.destaque h2 {
    font-size: large;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.destaque p {
    padding-bottom: 20px;
    margin: 10px;
    font-size: 16px;
    text-align: left;
}

.noticias {
    margin: 20px;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    width: 50%;
    overflow-y: scroll;
    max-height: 520px;
}

.noticias h2 {
    padding-bottom: 20px;
}

.noticias .noticia {
    padding: 0px;
    text-align: center;
    display: block;
    border-radius: 10px;
    background-color: #333;
}

.noticias .noticia img {
    padding-top: 8px;
    width: 50%;
}

.noticias .noticia h3 {
    font-size: smaller;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.noticias h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.corporacoes {
    margin: 20px;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

.conteudo {
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

.conteudo img {
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 200px;
}

.final {
    text-align: center;
    display: flex;
}

.final .noticias .noticia {
    vertical-align: middle;
    align-items: center;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.final .noticias .noticia h3 {
    grid-column: 2;
    padding-top: 8px;
    padding-bottom: 1px;
    font-size: larger;
}

.final .noticias .noticia p {
    grid-column: 2;
    font-size: small;
    padding-top: 1px;
    padding-bottom: 8px;
}

.final .noticias .noticia img {
    grid-column: 1;
    vertical-align: middle;
    padding: auto;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #444;
    border-radius: 5px;
  }

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #fff;
}