<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cursos da Fatec Sorocaba</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1><a href="http://localhost:3000/" style="text-decoration: none; color: black">Cursos da Fatec Sorocaba</a></h1>
  </header>

  <main>
    <section class="cursos">
      <h2>Cursos Técnicos</h2>
      <ul>
        
      </ul>

      <h2>Cursos Superiores de Tecnologia</h2>
      <ul>
        <li>Análise e Desenvolvimento de Sistemas</li>
        <li>Eletrônica Industrial</li>
        <li>Fabricação Mecânica</li>
        <li>Gestão Empresarial</li>
        <li>Gestão da Produção Industrial</li>
        <li>Logística</li>
        <li>Manufatura Avançada</li>
        <li>Processos Metalúrgicos</li>
        <li>Sistemas Biomédicos</li>
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Fatec Sorocaba</p>
  </footer>
</body>
</html>