<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Professores da Fatec Sorocaba</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1><a href="http://localhost:3000/" style="text-decoration: none; color: black">Professores da Fatec Sorocaba</a></h1>
  </header>

  <main>
    <section class="professores">
      <h2>Lista de Professores</h2>
      <ul>
        <li>Ana Carolina - Análise e Desenvolvimento de Sistemas</li>
        <li>Biggerso "O Jeff" Blaitt - Eletrônica Industrial</li>
        <li>Denilse - Fabricação Mecânica</li>
        <li>Dimas Ferreira Cardoso - Gestão da Produção Industrial</li>
        <li>Sérgio Munari - Logística</li>
        <li>Renato "Bolsonaro" Jensen - Gestão Empresarial</li>
        <li>Maria Angélica - Manufatura Avançada</li>
        <li>Chico - Processos Metalúrgicos</li>
        <li>Osni - Sistemas Biomédicos</li>
      </ul>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Fatec Sorocaba</p>
  </footer>
</body>
</html>